.article-text { //article(ALL PAGES)
    margin-top: 80px;
    .conteiner {
      max-width: 626px;
      padding: 0 15px;
      margin: 0 auto;
    }
}
.post {
  font-size: 16px;
  line-height: 22px;
}
.post:nth-child(1),
.post:nth-child(2) {
  margin-bottom: 16px;
}
.article-indicators__items { 
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
}
.indicator{
    span {
      font-family: 'Northwell';
      font-size: 64px;
      line-height: 64px;
      color: var(--light-brown-color);
    }
    p {
      font-size: 16px;
      line-height: 22px;
    }
}
.article-title {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
.post__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
#article01Text05, 
#article01Text07,
#article02Text03,
#article03Text03,
#article03Text05 {
  margin-bottom: 16px;
}
#article02Text02,
#article03Text02,
#article04Text02,
#article06Text01,
#article05Text01 {
  margin-bottom: 0;
}
#article02Text08, 
#article02Text09,
#article04Text03 {
  margin-top: 16px;
}
.post__image {
    margin-top: 64px;
    .conteiner {
      max-width: 1052px;
      padding: 0 15px;
      margin: 0 auto;
    }
}
.post-title {
    margin-top: 100px;
    .conteiner {
      max-width: 626px;
      padding: 0 15px;
      margin: 0 auto;
    }
}
.article-point__items {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.article-point__items:not(:last-child) {
  margin-bottom: 28px;
}
.article-point__text,
.points__post {
  font-size: 16px;
  line-height: 22px;
}
.points-title {
  margin-top: 100px;
  .conteiner {
    max-width: 626px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
.points__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
//---@media-article(ALL PAGES)----------
@media(max-width: 1440px) {
  .article-text {
    margin-top: calc(18px + (80 - 18)*((100vw - 320px)/(1440 - 320)));
  }
}
@media(max-width: 1024px) {
  .post,
  .indicator p,
  .points__post {
    font-size: calc(12px + (16 - 12)*((100vw - 320px)/(1024 - 320))); 
    line-height: calc(17px + (22 - 17)*((100vw - 320px)/(1024 - 320)));
  }
  .post:nth-child(1), 
  .post:nth-child(2),
  #article01Text05, 
  #article01Text07,
  #article02Text03,
  #article03Text03,
  #article03Text05 {
    margin-bottom: calc(8px + (12 - 8)*((100vw - 320px)/(1024 - 320)));
  }
  #article02Text08,
  #article02Text09,
  #article04Text03 {
    margin-top: calc(8px + (12 - 8)*((100vw - 320px)/(1024 - 320)));
  }
    .article-title {
      margin-top: calc(30px + (100 - 30)*((100vw - 320px)/(1024 - 320)));
      margin-bottom: calc(10px + (20 - 10)*((100vw - 320px)/(1024 - 320)));
      font-size: calc(14px + (20 - 14)*((100vw - 320px)/(1024 - 320))); 
      line-height: calc(14px + (22 - 14)*((100vw - 320px)/(1024 - 320)));  
    }
    .post__title {
      margin-bottom: calc(10px + (20 - 10)*((100vw - 320px)/(1024 - 320)));
      font-size: calc(14px + (20 - 14)*((100vw - 320px)/(1024 - 320))); 
      line-height: calc(14px + (22 - 14)*((100vw - 320px)/(1024 - 320)));  
    }
    .points-title {
      margin-top: calc(30px + (100 - 30)*((100vw - 320px)/(1024 - 320)));
    }
    .points__title {
      margin-bottom: calc(10px + (20 - 10)*((100vw - 320px)/(1024 - 320)));
      font-size: calc(14px + (20 - 14)*((100vw - 320px)/(1024 - 320))); 
      line-height: calc(14px + (22 - 14)*((100vw - 320px)/(1024 - 320)));
    }
    .post-title {
      margin-top: calc(30px + (100 - 30)*((100vw - 320px)/(1024 - 320)));
      margin-bottom: calc(10px + (20 - 10)*((100vw - 320px)/(1024 - 320)));
    }
    .indicator span {
      font-size: calc(34px + (64 - 34)*((100vw - 320px)/(1024 - 320))); 
      line-height: calc(34px + (64 - 34)*((100vw - 320px)/(1024 - 320))); 
    }
    .article-indicators__items {
      margin-top: calc(20px + (40 - 20)*((100vw - 320px)/(1024 - 320))); 
      margin-bottom: calc(30px + (60 - 30)*((100vw - 320px)/(1024 - 320)));
    }
    .post__image {
      margin-top: calc(22px + (64 - 22)*((100vw - 320px)/(1024 - 320)));
    }
    .article-point__text {
      font-size: calc(12px + (16 - 12)*((100vw - 320px)/(1024 - 320))); 
      line-height: calc(17px + (22 - 17)*((100vw - 320px)/(1024 - 320)));
    }
  .article-point__items {
      gap: calc(8px + (30 - 8)*((100vw - 320px)/(1024 - 320)));
      img {
        width: calc(22px + (38 - 22)*((100vw - 320px)/(1024 - 320)));
      }
  }
  .article-point__items:not(:last-child) {
    margin-bottom: calc(10px + (28 - 10)*((100vw - 320px)/(1024 - 320)));
  }
}
@media(max-width: 626px) {
  .article-indicators__items {
    gap: calc(20px + (100 - 20)*((100vw - 320px)/(626 - 320))); 
  }
}