.page-link {
    .conteiner {
      max-width: 1264px;
      padding: 0 15px;
      margin: 0 auto;
    }
}
.page-link__items {
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 7px;
    span {
      display: block;
      line-height: 14px;
      opacity: 0.6;
    }
    a {
      line-height: 14px;
      transition: all 1s ease;
    }
}
//---@media-page-link------------------
@media (hover: hover) and (pointer: fine) {
    .page-link__items a:hover {
      color: var(--light-brown-color);
    }
}
@media (hover: none) {
    .page-link__items a:active {
      color: var(--light-brown-color);
    }
}
@media(max-width: 1024px) {
    .page-link {
      display: none;
    }
}