.gift-card {
    margin-top: 71px;
    .conteiner {
      max-width: 1264px;
      padding: 0 15px;
      margin: 0 auto; 
    }
}
.gift-card__items {
    display: flex;
    align-items: flex-start;
    gap: 146px;
}
.gift-card__view {
    position: relative;
    background-color: var(--grey-color);
    padding: 85px;
    #cardView{
      animation: wobble-hor-bottom 1s steps(2, end) 2 both;
    }
    #giftCardLabel01 {
      position: absolute;
      top: -18px;
      left: 0;
    }
    #giftCardLabel02 {
      position: absolute;
      bottom: -26px;
      right: -22px;
    }
}
@keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
}
.gift-card__send {
    display: flex;
    flex-direction: column;
}
.gift-card__hint {
    display: flex;
    align-items: center;
    gap: 4px;
    align-self: flex-end;
    cursor: pointer;
    transition: all 1s ease;
    span {
      display: block;
      line-height: 14px;
      text-transform: uppercase;
    }
}
.gift-card__title {
    margin-top: 16px;
    font-family: 'Linotype Didot Std';
    font-size: 48px;
    line-height: 48px;
}
.gift-card__caption {
    margin-top: 16px;
    line-height: 19px;
}
.gift-card__reviews {
    margin-top: 27px;
    display: flex;
    align-items: center;
    gap: 48px;
}
.rating__link {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    transition: all 1s ease;
}
.rating__caption {
    line-height: 14px;
}
#buttonReview {
    display: block;
    padding: 0px 0px 1px 0px;
    border: none;
    background-color: transparent;
    font-family: 'GT Cinetype Trial';
    font-size: 14px;
    line-height: 14px;
    color: var(--green-color);
    border-bottom: 1px dotted var(--green-color);
    cursor: pointer;
    transition: all 1s ease;
}
//---@media-gift-card---------------
@media (hover: hover) and (pointer: fine) {
    .gift-card__hint:hover {
      color: var(--light-brown-color);
    }
    .rating__link:hover {
      opacity: 0.7;
    }
    #buttonReview:hover {
      opacity: 0.5;
    }
}
@media (hover: none) {
    .gift-card__hint:active {
      color: var(--light-brown-color);
    }
    .rating__link:active {
      opacity: 0.7;
    }
    #buttonReview:active {
      opacity: 0.5;
    }
}
@media(max-width: 1440px) {
    .gift-card {
      margin-top: calc(30px + (71 - 30)*((100vw - 320px)/(1440 - 320)));
    }
}
@media(max-width: 1234px) {
    .gift-card__items {
      gap: calc(21px + (146 - 21)*((100vw - 768px)/(1234 - 768)));
    }
    .gift-card__view {
      padding: calc(25px + (85 - 25)*((100vw - 1025px)/(1234 - 1025)));;
    }
    .gift-card__title {
      font-size: calc(22px + (48 - 22)*((100vw - 320px)/(1234 - 320)));
      line-height: calc(26px + (48 - 26)*((100vw - 320px)/(1234 - 320)));
    }
    .gift-card__caption {
      margin-top: calc(2px + (16 - 2)*((100vw - 320px)/(1234 - 320)));
      font-size: calc(12px + (14 - 12)*((100vw - 320px)/(1234 - 320)));
      line-height: calc(17px + (19 - 17)*((100vw - 320px)/(1234 - 320)));
    }
    .gift-card__reviews {
      margin-top: calc(10px + (27 - 10)*((100vw - 320px)/(1234 - 320)));
    }
}
@media(max-width: 1024px) {
    .gift-card__view #giftCardLabel02 {
      width: calc(107px + (164 - 107)*((100vw - 769px)/(1024 - 769)));
    }
    .gift-card__view {
      background-color: transparent;
      padding: 0px;
    }
    .gift-card__view #cardView {
      animation: none;
    }
    .gift-card__title {
      margin-top: 0px;
    }
}
@media(max-width: 768px) {
    .gift-card__items {
      gap: 21px;
      flex-direction: column;
      align-items: center;
    }
    .gift-card__view #giftCardLabel02 {
      display: none;
    }
    .rating__caption,
    #buttonReview {
      font-size: calc(12px + (14 - 12)*((100vw - 320px)/(768 - 320)));
      line-height: calc(12px + (14 - 12)*((100vw - 320px)/(768 - 320)));
    }
    .rating__link img {
      width: calc(80px + (104 - 80)*((100vw - 320px)/(768 - 320)));
    }
}
//---Modal--#reviews-------------------------------------------------------------------------
#reviews {
    position: fixed;
    z-index: 100;
    padding-top: 98px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--modal-bg-color);
    cursor: default;
}
.form__reviews {
    position: relative;
    width: 738px;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 43px;
    background-color: var(--beige-color);
    border-radius: 8px;
    animation-name: animateTop;
    animation-duration: 1s;
    p {
      margin-bottom: 20px;
      font-family: 'Linotype Didot Std';
      font-size: 36px;
      line-height: 36px;
      text-align: center;
        span {
          display: inline-block;
          font-family: 'Northwell';
          font-size: 65px;
          line-height: 65px;
          color: var(--light-brown-color);
        }
    }
}
#reviewsClose {
    display: flex;
    align-items: center;
    gap: 19px;
    position: absolute;
    top: 30px;
    right: 30px;
    span {
      display: block;
      line-height: 14px;
      color: var(--white-text-color); 
    }
    img {
      transition: all 1s ease;
      cursor: pointer; 
    }
}
//---@media-Modal--#reviews----------------
@media (hover: hover) and (pointer: fine) {
    #reviewsClose img:hover {
      opacity: 0.5;
    }
}
@media (hover: none) {
    #reviewsClose img:active {
      opacity: 0.5;
    }
}
@media(max-width: 1024px) {
    #reviews {
      padding-bottom: 50px;
    }
}
@media(max-width: 768px) {
    .form__reviews {
      width: calc(290px + (738 - 290)*((100vw - 320px)/(768 - 320)));
      padding-bottom: calc(24px + (43 - 24)*((100vw - 320px)/(768 - 320)));
    }
    #reviewsClose {
      gap: calc(9px + (19 - 9)*((100vw - 320px)/(768 - 320)));
    }
    #reviewsClose span {
      font-size: calc(12px + (14 - 12)*((100vw - 320px)/(768 - 320)));
      line-height: calc(12px + (14 - 12)*((100vw - 320px)/(768 - 320)));
    }
    #reviewsClose img {
      width: calc(14px + (24 - 14)*((100vw - 320px)/(768 - 320)));
    }
    .form__reviews p {
        margin-bottom: calc(8px + (20 - 8)*((100vw - 320px)/(768 - 320)));
        font-size: calc(26px + (36 - 26)*((100vw - 320px)/(768 - 320)));
        line-height: calc(26px + (36 - 26)*((100vw - 320px)/(768 - 320)));
        span {
          font-size: calc(34px + (65 - 34)*((100vw - 320px)/(768 - 320)));
          line-height: calc(34px + (65 - 34)*((100vw - 320px)/(768 - 320)));
        }
    }
}
//---<ReviewForm />----------------------------------------------------------------------------
#formReviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    input,
    textarea  {
      display: block;
      padding: 10px;
      width: 487px;
      font-family: 'GT Cinetype Trial';
      font-size: 14px;
      line-height: 14px;
      color: var(--green-color);
      outline-style: none;
      background-color: var(--main-bg-color);
      border: 1px solid var(--light-brown-color);
      border-radius: 8px;
    }
}
#formReviews textarea {
    resize: none;
}
#formReviews::placeholder {
    font-family: 'GT Cinetype Trial'; 
    font-size: 14px;
    line-height: 14px;
    color: var(--footer-form-placeholder-color);
}
#buttonSave {
    align-self: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 11px 34px;
    border: none;
    border-radius: 8px;
    background-color: var(--light-brown-color);
    font-family: 'GT Cinetype Trial';
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
    box-shadow: 0px 2px 0px darken(#C58A46, 5%), 2px 4px 6px darken(#C58A46, 2%);
    cursor: pointer; 
    transition: all .5s linear;
}
.star__rating {
    padding: 0px 8px 0px 8px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--main-bg-color);
    border: 1px solid var(--light-brown-color);
    border-radius: 4px;
    button {
      border: none;
      outline-style: none;
      padding: 0px;
      cursor: pointer;
      transition: all 1s ease;
    }
    .on {
      color: var(--green-color);
    }
    .off {
      color: var(--grey-color);
    }
}
//---@media-<ReviewForm />----------------
@media (hover: hover) and (pointer: fine) {
    #buttonSave:hover {
      box-shadow: 1px 1px 2px rgba(#fff, .2);
    }
}
@media (hover: none) {
    #buttonSave:active {
      box-shadow: 1px 1px 2px rgba(#fff, .2);
    }
}
@media(max-width: 768px) {
    #buttonSave {
      padding-top: calc(7px + (11 - 7)*((100vw - 320px)/(768 - 320)));
      padding-right: calc(13px + (34 - 13)*((100vw - 320px)/(768 - 320)));
      padding-bottom: calc(7px + (11 - 7)*((100vw - 320px)/(768 - 320)));
      padding-left: calc(13px + (34 - 13)*((100vw - 320px)/(768 - 320)));
    }
}
@media(max-width: 553px) {
    #formReviews input, 
    #formReviews textarea {
      width: calc(266px + (487 - 266)*((100vw - 320px)/(553 - 320)));
    }
}
