.team-mission {
    margin-top: 157px;
    .conteiner {
      max-width: 1264px;
      padding: 0 15px;
      margin: 0 auto;
    }
}
.team-mission__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.team-mission__title {
    .rubric {
      margin-top: 16px;
      max-width: 380px;
      line-height: 17px;
      text-transform: uppercase;
    }
    .team-mission__text {
      margin-top: 24px;
      max-width: 385px;
      line-height: 19px;
    }
}
.team-mission__images {
    margin-right: 50px;
    position: relative;
    
    #missionImage02 {
      position: absolute;
      top: 221px;
      right: -51px;
    }
}
.team-principles__items {
    display: flex;
    align-items: center;
    gap: 146px;
}
.team-principles h3 {
    margin-bottom: 37px;
    max-width: 318px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
.principle {
    max-width: 318px;
    line-height: 19px;
    span{
      display: inline-block;
      padding-right: 8px;
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      color: var(--light-brown-color);
    }
}
.principle:not(:last-child) {
    padding-bottom: 10px;
}
#signatureAnastasia {
    display: block;
    padding-left: 16px;
    margin-top: 48px;
    font-family: 'Northwell';
    font-size: 64px;
    line-height: 79px;
    color: var(--light-brown-color);
}
//---@media-team-mission----------------
@media(max-width: 1440px) {
    .team-mission {
      margin-top: calc(40px + (157 - 40)*((100vw - 320px)/(1440 - 320)));
    }
}
@media(max-width: 1264px) {
    .team-mission__title .rubric {
      margin-top: calc(9px + (16 - 9)*((100vw - 320px)/(1264 - 320)));
      font-size: calc(10px + (14 - 10)*((100vw - 320px)/(1264 - 320)));
      line-height: calc(12px + (17 - 12)*((100vw - 320px)/(1264 - 320)));
    } 
    .team-mission__title .team-mission__text {
      margin-top: calc(19px + (24 - 19)*((100vw - 320px)/(1264 - 320)));
      font-size: calc(12px + (14 - 12)*((100vw - 320px)/(1264 - 320)));
      line-height: calc(17px + (19 - 17)*((100vw - 320px)/(1264 - 320)));
    }
    .principle {
      font-size: calc(12px + (14 - 12)*((100vw - 320px)/(1264 - 320)));
      line-height: calc(17px + (19 - 17)*((100vw - 320px)/(1264 - 320)));
    }
    .principle span {
      font-size: calc(24px + (40 - 24)*((100vw - 320px)/(1264 - 320)));
      line-height: calc(24px + (40 - 24)*((100vw - 320px)/(1264 - 320)));
    }
    .team-principles h3 {
      margin-bottom: calc(14px + (37 - 14)*((100vw - 320px)/(1264 - 320)));
      font-size: calc(14px + (20 - 14)*((100vw - 320px)/(1264 - 320)));
      line-height: calc(19px + (24 - 19)*((100vw - 320px)/(1264 - 320)));
    }
    .team-principles__items {
      gap: calc(33px + (146 - 33)*((100vw - 1025px)/(1264 - 1025)));
    }
    #signatureAnastasia {
      margin-top: calc(9px + (48 - 9)*((100vw - 320px)/(1264 - 320)));
      font-size: calc(33px + (64 - 33)*((100vw - 320px)/(1264 - 320)));
      line-height: calc(40px + (79 - 40)*((100vw - 320px)/(1264 - 320)));
    }
}
@media(max-width: 1024px) {
    .team-mission__images {
      display: none;
    }
    .team-mission__items {
      margin-bottom: calc(15px + (30 - 15)*((100vw - 320px)/(1024 - 320)));
    }
    .team-mission__title .team-mission__text {
      max-width: 100%;
    }
    .team-principles__items {
      gap: 33px;
      justify-content: center;
    }
    .team-principles h3,
    .principle {
      max-width: 100%;
    }
    .principle:not(:last-child) {
      padding-bottom: calc(1px + (4 - 1)*((100vw - 320px)/(1024 - 320)));
    }
}
@media(max-width: 768px) {
    .team-principles__items {
      flex-direction: column;
      gap: calc(17px + (33 - 17)*((100vw - 320px)/(768 - 320)));
    }
    .team-principles h3 {
      text-align: center;
    }
}